[submodule "asun-c"]
	path = asun-c
	url = https://athxx@github.com/asun-lab/asun-c.git
[submodule "asun-cpp"]
	path = asun-cpp
	url = https://athxx@github.com/asun-lab/asun-cpp.git
[submodule "asun-cs"]
	path = asun-cs
	url = https://athxx@github.com/asun-lab/asun-cs.git
[submodule "asun-dart"]
	path = asun-dart
	url = https://athxx@github.com/asun-lab/asun-dart.git
[submodule "asun-go"]
	path = asun-go
	url = https://athxx@github.com/asun-lab/asun-go.git
[submodule "asun-java"]
	path = asun-java
	url = https://athxx@github.com/asun-lab/asun-java.git
[submodule "asun-js"]
	path = asun-js
	url = https://athxx@github.com/asun-lab/asun-js.git
[submodule "asun-py"]
	path = asun-py
	url = https://athxx@github.com/asun-lab/asun-py.git
[submodule "asun-rs"]
	path = asun-rs
	url = https://athxx@github.com/asun-lab/asun-rs.git
[submodule "asun-zig"]
	path = asun-zig
	url = https://athxx@github.com/asun-lab/asun-zig.git
[submodule "js-format"]
	path = js-format
	url = https://athxx@github.com/asun-lab/js-format.git
[submodule "lsp-asun"]
	path = lsp-asun
	url = https://athxx@github.com/asun-lab/lsp-asun.git
[submodule "plugin_vscode"]
	path = plugin_vscode
	url = https://athxx@github.com/asun-lab/plugin_vscode.git
[submodule "website"]
	path = website
	url = https://athxx@github.com/asun-lab/website.git
[submodule "asun-swift"]
	path = asun-swift
	url = https://github.com/asun-lab/asun-swift.git
[submodule "asun-php"]
	path = asun-php
	url = https://github.com/asun-lab/asun-php.git
[submodule "plugin_jetbrain"]
	path = plugin_jetbrain
	url = https://github.com/asun-lab/plugin_jetbrain.git
[submodule "plugin_zed"]
	path = plugin_zed
	url = https://github.com/asun-lab/plugin_zed.git
